<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.mapper.IdPivotMapper" >
  <resultMap id="BaseResultMap" type="com.yh.entity.IdPivot" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="native_id" property="nativeId" jdbcType="BIGINT" />
    <result column="id_type" property="idType" jdbcType="TINYINT" />
    <result column="external_org" property="externalOrg" jdbcType="TINYINT" />
    <result column="external_id" property="externalId" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, native_id, id_type, external_org, external_id, remark, status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from edu_base_id_pivot
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from edu_base_id_pivot
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yh.entity.IdPivot" >
    insert into edu_base_id_pivot (id, native_id, id_type, 
      external_org, external_id, remark, 
      status, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{nativeId,jdbcType=BIGINT}, #{idType,jdbcType=TINYINT}, 
      #{externalOrg,jdbcType=TINYINT}, #{externalId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yh.entity.IdPivot" >
    insert into edu_base_id_pivot
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nativeId != null" >
        native_id,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="externalOrg != null" >
        external_org,
      </if>
      <if test="externalId != null" >
        external_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nativeId != null" >
        #{nativeId,jdbcType=BIGINT},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=TINYINT},
      </if>
      <if test="externalOrg != null" >
        #{externalOrg,jdbcType=TINYINT},
      </if>
      <if test="externalId != null" >
        #{externalId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.entity.IdPivot" >
    update edu_base_id_pivot
    <set >
      <if test="nativeId != null" >
        native_id = #{nativeId,jdbcType=BIGINT},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=TINYINT},
      </if>
      <if test="externalOrg != null" >
        external_org = #{externalOrg,jdbcType=TINYINT},
      </if>
      <if test="externalId != null" >
        external_id = #{externalId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.entity.IdPivot" >
    update edu_base_id_pivot
    set native_id = #{nativeId,jdbcType=BIGINT},
      id_type = #{idType,jdbcType=TINYINT},
      external_org = #{externalOrg,jdbcType=TINYINT},
      external_id = #{externalId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="getCardNo" resultType="com.yh.entity.wrap.GrowReport">
    SELECT
        stu.id stuId,
        c.id classId,
        c.class_name className,
        external_id cardNo,
        stu.stu_name stuName,
        stu.stu_nickname stuNickname
    FROM
        edu_base_id_pivot bip
        INNER JOIN base_student stu ON native_id = stu.id
        INNER JOIN base_class c ON c.class_year = stu.stu_enrl_year
    WHERE
        bip.STATUS = 0
        GROUP BY stu.id
  </select>

    <select id="getCardNoByStuId" parameterType="java.lang.Long" resultType="com.yh.entity.wrap.EventContent">
        SELECT external_id cardNo,stu.stu_name stuName,stu.stu_nickname stuNickname FROM edu_base_id_pivot bip
        INNER JOIN base_student stu on native_id = stu.id
        WHERE bip.status = 0 and native_id = #{stuId}
    </select>
</mapper>