<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.mapper.SubjectMapper" >
  <resultMap id="BaseResultMap" type="com.yh.entity.Subject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="sch_id" property="schId" jdbcType="BIGINT" />
    <result column="sub_type" property="subType" jdbcType="TINYINT" />
    <result column="sub_no" property="subNo" jdbcType="VARCHAR" />
    <result column="sub_name" property="subName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="created_dt" property="createdDt" jdbcType="TIMESTAMP" />
    <result column="updated_dt" property="updatedDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sch_id, sub_type, sub_no, sub_name, status, created_dt, updated_dt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from base_subject
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from base_subject
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yh.entity.Subject" >
    insert into base_subject (id, sch_id, sub_type, 
      sub_no, sub_name, status, 
      created_dt, updated_dt)
    values (#{id,jdbcType=BIGINT}, #{schId,jdbcType=BIGINT}, #{subType,jdbcType=TINYINT}, 
      #{subNo,jdbcType=VARCHAR}, #{subName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{createdDt,jdbcType=TIMESTAMP}, #{updatedDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.entity.Subject" >
    insert into base_subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schId != null" >
        sch_id,
      </if>
      <if test="subType != null" >
        sub_type,
      </if>
      <if test="subNo != null" >
        sub_no,
      </if>
      <if test="subName != null" >
        sub_name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdDt != null" >
        created_dt,
      </if>
      <if test="updatedDt != null" >
        updated_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schId != null" >
        #{schId,jdbcType=BIGINT},
      </if>
      <if test="subType != null" >
        #{subType,jdbcType=TINYINT},
      </if>
      <if test="subNo != null" >
        #{subNo,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        #{subName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createdDt != null" >
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDt != null" >
        #{updatedDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.entity.Subject" >
    update base_subject
    <set >
      <if test="schId != null" >
        sch_id = #{schId,jdbcType=BIGINT},
      </if>
      <if test="subType != null" >
        sub_type = #{subType,jdbcType=TINYINT},
      </if>
      <if test="subNo != null" >
        sub_no = #{subNo,jdbcType=VARCHAR},
      </if>
      <if test="subName != null" >
        sub_name = #{subName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createdDt != null" >
        created_dt = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedDt != null" >
        updated_dt = #{updatedDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.entity.Subject" >
    update base_subject
    set sch_id = #{schId,jdbcType=BIGINT},
      sub_type = #{subType,jdbcType=TINYINT},
      sub_no = #{subNo,jdbcType=VARCHAR},
      sub_name = #{subName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      created_dt = #{createdDt,jdbcType=TIMESTAMP},
      updated_dt = #{updatedDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="subMap" type="com.yh.entity.wrap.TeacherSubject">
    <result column="subId" property="subId" />
    <result column="subName" property="subName" />
    <collection property="teachers" ofType="com.yh.entity.Teacher">
      <result column="tchId" property="id" jdbcType="INTEGER" />
      <result column="tchName" property="tchName" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <select id="selectBytchId" resultMap="subMap">
    SELECT
      sub.id subId,
      t.id tchId,
      t.tch_name tchName,
      sub.sub_name subName
    FROM
      base_subject sub
      INNER JOIN base_teacher_agenda ta ON ta.sub_id = sub.id
      INNER JOIN base_teacher t ON t.id = ta.tch_id
    WHERE
      sub.sub_type = 1
      AND sub.STATUS = 0
      <if test="role != 0 and role != null">
        AND t.id = #{tchId}
      </if>
  </select>

</mapper>