<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yh.mapper.TlxxbMapper" >
  <resultMap id="BaseResultMap" type="com.yh.entity.Tlxxb" >
    <id column="标识列" property="标识列" jdbcType="INTEGER" />
    <result column="索取号" property="索取号" jdbcType="CHAR" />
    <result column="正题名" property="正题名" jdbcType="CHAR" />
    <result column="责任者" property="责任者" jdbcType="CHAR" />
    <result column="分册号" property="分册号" jdbcType="CHAR" />
    <result column="版本" property="版本" jdbcType="CHAR" />
    <result column="出版地" property="出版地" jdbcType="CHAR" />
    <result column="出版者" property="出版者" jdbcType="CHAR" />
    <result column="出版日期" property="出版日期" jdbcType="CHAR" />
    <result column="页卷数" property="页卷数" jdbcType="CHAR" />
    <result column="标准编号" property="标准编号" jdbcType="CHAR" />
    <result column="获得方式" property="获得方式" jdbcType="CHAR" />
    <result column="复本数" property="复本数" jdbcType="INTEGER" />
    <result column="拼音编码" property="拼音编码" jdbcType="CHAR" />
    <result column="导入时刻" property="导入时刻" jdbcType="TIMESTAMP" />
    <result column="套录次数" property="套录次数" jdbcType="INTEGER" />
    <result column="作品语种" property="作品语种" jdbcType="CHAR" />
    <result column="丛编题名" property="丛编题名" jdbcType="CHAR" />
    <result column="丛编题名拼音头" property="丛编题名拼音头" jdbcType="CHAR" />
    <result column="SCHOOLID" property="schoolid" jdbcType="NVARCHAR" />
    <result column="EDITFLAG" property="editflag" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yh.entity.Tlxxb" extends="BaseResultMap" >
    <result column="MARC" property="marc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    标识列, 索取号, 正题名, 责任者, 分册号, 版本, 出版地, 出版者, 出版日期, 页卷数, 标准编号, 获得方式, 复本数, 拼音编码, 导入时刻, 套录次数, 
    作品语种, 丛编题名, 丛编题名拼音头, SCHOOLID, EDITFLAG
  </sql>
  <sql id="Blob_Column_List" >
    MARC
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tlxxb
    where 标识列 = #{标识列,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tlxxb
    where 标识列 = #{标识列,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yh.entity.Tlxxb" >
    insert into tlxxb (标识列, 索取号, 正题名, 责任者, 
      分册号, 版本, 出版地, 出版者, 
      出版日期, 页卷数, 标准编号, 获得方式, 
      复本数, 拼音编码, 导入时刻, 套录次数, 
      作品语种, 丛编题名, 丛编题名拼音头, SCHOOLID, 
      EDITFLAG, MARC)
    values (#{标识列,jdbcType=INTEGER}, #{索取号,jdbcType=CHAR}, #{正题名,jdbcType=CHAR}, #{责任者,jdbcType=CHAR}, 
      #{分册号,jdbcType=CHAR}, #{版本,jdbcType=CHAR}, #{出版地,jdbcType=CHAR}, #{出版者,jdbcType=CHAR}, 
      #{出版日期,jdbcType=CHAR}, #{页卷数,jdbcType=CHAR}, #{标准编号,jdbcType=CHAR}, #{获得方式,jdbcType=CHAR}, 
      #{复本数,jdbcType=INTEGER}, #{拼音编码,jdbcType=CHAR}, #{导入时刻,jdbcType=TIMESTAMP}, #{套录次数,jdbcType=INTEGER}, 
      #{作品语种,jdbcType=CHAR}, #{丛编题名,jdbcType=CHAR}, #{丛编题名拼音头,jdbcType=CHAR}, #{schoolid,jdbcType=NVARCHAR}, 
      #{editflag,jdbcType=CHAR}, #{marc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yh.entity.Tlxxb" >
    insert into tlxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="标识列 != null" >
        标识列,
      </if>
      <if test="索取号 != null" >
        索取号,
      </if>
      <if test="正题名 != null" >
        正题名,
      </if>
      <if test="责任者 != null" >
        责任者,
      </if>
      <if test="分册号 != null" >
        分册号,
      </if>
      <if test="版本 != null" >
        版本,
      </if>
      <if test="出版地 != null" >
        出版地,
      </if>
      <if test="出版者 != null" >
        出版者,
      </if>
      <if test="出版日期 != null" >
        出版日期,
      </if>
      <if test="页卷数 != null" >
        页卷数,
      </if>
      <if test="标准编号 != null" >
        标准编号,
      </if>
      <if test="获得方式 != null" >
        获得方式,
      </if>
      <if test="复本数 != null" >
        复本数,
      </if>
      <if test="拼音编码 != null" >
        拼音编码,
      </if>
      <if test="导入时刻 != null" >
        导入时刻,
      </if>
      <if test="套录次数 != null" >
        套录次数,
      </if>
      <if test="作品语种 != null" >
        作品语种,
      </if>
      <if test="丛编题名 != null" >
        丛编题名,
      </if>
      <if test="丛编题名拼音头 != null" >
        丛编题名拼音头,
      </if>
      <if test="schoolid != null" >
        SCHOOLID,
      </if>
      <if test="editflag != null" >
        EDITFLAG,
      </if>
      <if test="marc != null" >
        MARC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="标识列 != null" >
        #{标识列,jdbcType=INTEGER},
      </if>
      <if test="索取号 != null" >
        #{索取号,jdbcType=CHAR},
      </if>
      <if test="正题名 != null" >
        #{正题名,jdbcType=CHAR},
      </if>
      <if test="责任者 != null" >
        #{责任者,jdbcType=CHAR},
      </if>
      <if test="分册号 != null" >
        #{分册号,jdbcType=CHAR},
      </if>
      <if test="版本 != null" >
        #{版本,jdbcType=CHAR},
      </if>
      <if test="出版地 != null" >
        #{出版地,jdbcType=CHAR},
      </if>
      <if test="出版者 != null" >
        #{出版者,jdbcType=CHAR},
      </if>
      <if test="出版日期 != null" >
        #{出版日期,jdbcType=CHAR},
      </if>
      <if test="页卷数 != null" >
        #{页卷数,jdbcType=CHAR},
      </if>
      <if test="标准编号 != null" >
        #{标准编号,jdbcType=CHAR},
      </if>
      <if test="获得方式 != null" >
        #{获得方式,jdbcType=CHAR},
      </if>
      <if test="复本数 != null" >
        #{复本数,jdbcType=INTEGER},
      </if>
      <if test="拼音编码 != null" >
        #{拼音编码,jdbcType=CHAR},
      </if>
      <if test="导入时刻 != null" >
        #{导入时刻,jdbcType=TIMESTAMP},
      </if>
      <if test="套录次数 != null" >
        #{套录次数,jdbcType=INTEGER},
      </if>
      <if test="作品语种 != null" >
        #{作品语种,jdbcType=CHAR},
      </if>
      <if test="丛编题名 != null" >
        #{丛编题名,jdbcType=CHAR},
      </if>
      <if test="丛编题名拼音头 != null" >
        #{丛编题名拼音头,jdbcType=CHAR},
      </if>
      <if test="schoolid != null" >
        #{schoolid,jdbcType=NVARCHAR},
      </if>
      <if test="editflag != null" >
        #{editflag,jdbcType=CHAR},
      </if>
      <if test="marc != null" >
        #{marc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yh.entity.Tlxxb" >
    update tlxxb
    <set >
      <if test="索取号 != null" >
        索取号 = #{索取号,jdbcType=CHAR},
      </if>
      <if test="正题名 != null" >
        正题名 = #{正题名,jdbcType=CHAR},
      </if>
      <if test="责任者 != null" >
        责任者 = #{责任者,jdbcType=CHAR},
      </if>
      <if test="分册号 != null" >
        分册号 = #{分册号,jdbcType=CHAR},
      </if>
      <if test="版本 != null" >
        版本 = #{版本,jdbcType=CHAR},
      </if>
      <if test="出版地 != null" >
        出版地 = #{出版地,jdbcType=CHAR},
      </if>
      <if test="出版者 != null" >
        出版者 = #{出版者,jdbcType=CHAR},
      </if>
      <if test="出版日期 != null" >
        出版日期 = #{出版日期,jdbcType=CHAR},
      </if>
      <if test="页卷数 != null" >
        页卷数 = #{页卷数,jdbcType=CHAR},
      </if>
      <if test="标准编号 != null" >
        标准编号 = #{标准编号,jdbcType=CHAR},
      </if>
      <if test="获得方式 != null" >
        获得方式 = #{获得方式,jdbcType=CHAR},
      </if>
      <if test="复本数 != null" >
        复本数 = #{复本数,jdbcType=INTEGER},
      </if>
      <if test="拼音编码 != null" >
        拼音编码 = #{拼音编码,jdbcType=CHAR},
      </if>
      <if test="导入时刻 != null" >
        导入时刻 = #{导入时刻,jdbcType=TIMESTAMP},
      </if>
      <if test="套录次数 != null" >
        套录次数 = #{套录次数,jdbcType=INTEGER},
      </if>
      <if test="作品语种 != null" >
        作品语种 = #{作品语种,jdbcType=CHAR},
      </if>
      <if test="丛编题名 != null" >
        丛编题名 = #{丛编题名,jdbcType=CHAR},
      </if>
      <if test="丛编题名拼音头 != null" >
        丛编题名拼音头 = #{丛编题名拼音头,jdbcType=CHAR},
      </if>
      <if test="schoolid != null" >
        SCHOOLID = #{schoolid,jdbcType=NVARCHAR},
      </if>
      <if test="editflag != null" >
        EDITFLAG = #{editflag,jdbcType=CHAR},
      </if>
      <if test="marc != null" >
        MARC = #{marc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where 标识列 = #{标识列,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yh.entity.Tlxxb" >
    update tlxxb
    set 索取号 = #{索取号,jdbcType=CHAR},
      正题名 = #{正题名,jdbcType=CHAR},
      责任者 = #{责任者,jdbcType=CHAR},
      分册号 = #{分册号,jdbcType=CHAR},
      版本 = #{版本,jdbcType=CHAR},
      出版地 = #{出版地,jdbcType=CHAR},
      出版者 = #{出版者,jdbcType=CHAR},
      出版日期 = #{出版日期,jdbcType=CHAR},
      页卷数 = #{页卷数,jdbcType=CHAR},
      标准编号 = #{标准编号,jdbcType=CHAR},
      获得方式 = #{获得方式,jdbcType=CHAR},
      复本数 = #{复本数,jdbcType=INTEGER},
      拼音编码 = #{拼音编码,jdbcType=CHAR},
      导入时刻 = #{导入时刻,jdbcType=TIMESTAMP},
      套录次数 = #{套录次数,jdbcType=INTEGER},
      作品语种 = #{作品语种,jdbcType=CHAR},
      丛编题名 = #{丛编题名,jdbcType=CHAR},
      丛编题名拼音头 = #{丛编题名拼音头,jdbcType=CHAR},
      SCHOOLID = #{schoolid,jdbcType=NVARCHAR},
      EDITFLAG = #{editflag,jdbcType=CHAR},
      MARC = #{marc,jdbcType=LONGVARCHAR}
    where 标识列 = #{标识列,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yh.entity.Tlxxb" >
    update tlxxb
    set 索取号 = #{索取号,jdbcType=CHAR},
      正题名 = #{正题名,jdbcType=CHAR},
      责任者 = #{责任者,jdbcType=CHAR},
      分册号 = #{分册号,jdbcType=CHAR},
      版本 = #{版本,jdbcType=CHAR},
      出版地 = #{出版地,jdbcType=CHAR},
      出版者 = #{出版者,jdbcType=CHAR},
      出版日期 = #{出版日期,jdbcType=CHAR},
      页卷数 = #{页卷数,jdbcType=CHAR},
      标准编号 = #{标准编号,jdbcType=CHAR},
      获得方式 = #{获得方式,jdbcType=CHAR},
      复本数 = #{复本数,jdbcType=INTEGER},
      拼音编码 = #{拼音编码,jdbcType=CHAR},
      导入时刻 = #{导入时刻,jdbcType=TIMESTAMP},
      套录次数 = #{套录次数,jdbcType=INTEGER},
      作品语种 = #{作品语种,jdbcType=CHAR},
      丛编题名 = #{丛编题名,jdbcType=CHAR},
      丛编题名拼音头 = #{丛编题名拼音头,jdbcType=CHAR},
      SCHOOLID = #{schoolid,jdbcType=NVARCHAR},
      EDITFLAG = #{editflag,jdbcType=CHAR}
    where 标识列 = #{标识列,jdbcType=INTEGER}
  </update>

  <select id="getBookCount" resultType="java.lang.Integer">
    SELECT
      count( lb.标识列 ) '借书数量' from ltxxb lb
      INNER JOIN dzxxb db ON lb.读者证号 = db.读者证号
    WHERE
      convert(char(7),(lb.借出时刻),120) BETWEEN convert(char(7),#{start},120) AND convert(char(7),#{end},120)
      AND convert(char(4),(db.备注),120) = #{classYear}
      AND db.读者类别 = '学生'
  </select>

  <select id="getBorrowAmount" resultType="com.yh.entity.wrap.BorrowAmount">
    SELECT
        db.读者证号,
        lb.读者姓名,
        db.读者单位,
        count( lb.标识列 ) '借书数量'
    FROM
        ltxxb lb
        INNER JOIN dzxxb db ON lb.读者证号 = db.读者证号
    WHERE
        convert(char(7),(lb.借出时刻),120) BETWEEN convert(char(7),#{start},120) AND convert(char(7),#{end},120)
        AND db.读者类别 = '学生'
        <if test="cardNo !=null">
            AND db.读者证号 = #{cardNo}
        </if>
    GROUP BY
        lb.读者姓名,
        db.读者证号,
        db.读者单位
    <if test="cardNo == null">
        ORDER BY count( lb.标识列 ) DESC
    </if>
  </select>
</mapper>